.cart {
  display: flex;
  flex-wrap: wrap;
  outline: auto;
  width: 100px;
  height: 50px;
  margin-right: 80px;
  margin-top: 20px;
  color: #808080;
  border-radius: 9px;
}
.cart-icon {
  color: white;
}
.cart span {
  padding-left: 10px;
  color: white;
  font-size: 20px;
  border-radius: 99px;
}
.cart p {
  color: white;
  font-size: 10px;
}
.cart:hover {
  color: #a5a5a5;
}
