.cart-page {
  margin-top: 35px;
}
.cart-page button {
  color: white;
}
.cart-page-clear {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 79px;
}

.cart-page-nav {
  padding-top: 35px;
  padding-left: 15px;
  display: grid;
  grid-template-columns: 1180px 415px 100px;
}
