.item-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 25px;
  margin-left: 125px;
  height: 250px;
  width: 1000px;
}
.item-page-img {
  margin-top: 25px;
  display: flex;
  height: 150px;
  width: 150px;
}
.item-page-info {
  width: 700px;
  padding-left: 50px;
}
